.sideBar {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 24%;
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
.sidebar__main {
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.sidebar__links {
  color: rgb(0, 71, 83);
  position: relative;
  font-size: 1.3rem;
}
.sidebar__links.active{
  font-weight: bold;
  font-size: 1.5rem;
}
.sidebar__links a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sidebar__links.active .left, 
.sidebar__links.active .right{
  position: absolute;
  top: 50%;
  height: 110%;
  width: 3px;
  background: darkcyan;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.sidebar__links.active .left{
  left: -10px;
}
.sidebar__links.active .right{
  right: -10px;
}
.sidebar__links.active .top, 
.sidebar__links.active .bottom{
  width: 20px;
  height: 3px;
  background: darkcyan;
  position: absolute;
}
.sidebar__links.active .top{
  top: 0px;
}
.sidebar__links.active .bottom{
  bottom: 0px;
}
.sidebar__links.active .left .top,
.sidebar__links.active .left .bottom{
  left: 00px;
}
.sidebar__links.active .right .top, 
.sidebar__links.active .right .bottom{
  right: 0px;
}